@import 'grid.less';
@column-width: 60;
@gutter-width: 20;
@columns: 12;
@total-width: 100%;

.administrador{
	.column(3);
}
.equipoBar h2{
	.column(3);
}
.equipoBar .menu{
	.column(9);
	text-align: right;
}
.equipoBar .menu li{
	display: inline-block;
}
.equipoBar .menu ul{
	padding: 0;
}
#adminTexto{
	.column(3);
}
#comentarios article{
	width: 90%;
	margin: 0 auto;
	border-bottom: 1px solid;
}
#comentarios h4{
	padding: 0 20px;
}
#myCarousel{
	.column(10);
	.push(1);
}
#myCarousel a {
	text-decoration: none;
}
#miembros{
	.column(12);
}
#listado{
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	overflow: hidden;
	background-color: #ccc;
	margin-bottom: 20px;

	nav{
		.column(4);
		display: inline-block;
	}
}
#listadoProyectos figure{
	width: 175px;
	height: 175px;
	position: relative;
	display: inline-block;
	margin: 10px;
}

#Perfil .texto{
	max-width: 650px;
	margin: 40px auto;
}
#pieArticulo #equipoTrabajo{
	.column(8);
	ul{
		.row(6);
		padding: 10px;
		li{
			.column(1.85,6);
		}
	}
}
#pieArticulo #contacto{
	.column(4);
	ul{
		.row(3);
		padding: 0;
		padding-left: 7px;
		li{
			.column(1,3);
		}
	}
}
#mataderos .principal {
	background-color: #000;
	overflow: hidden;
	margin-bottom: 20px;
}
#mataderos .principal article{
	.column(8);
	.push(2);
}

#mataderoSingle #socialBar #botones{
	.column(7);
}
#mataderoSingle #socialBar h3{
	.column(5);
	display: block;
}
#mataderos .principal article img{
	width: 100%;
}
#listadoMataderos .secundarios {
	article{
		.column(4,12);
	}
}
#listadoMataderos .secundarios a{
	text-decoration: none;
}
#listadoMataderos .primarios a{
	text-decoration: none;
	color: white;
}
#listadoMataderos .secundarios article .tituloSeccion {
	height: 50px;
}
#proyectosBar input{
	width: 100%;
}

#proyectosBar nav{
	.column(6);
}
#proyectosBar select{
	width:100%;
}
#proyectosDesarrollo article{
	.column(5);
	.push(6);
}
#proyectoSingle #descripcionProyecto{
	.column(8);
}
#proyectoSingle #lateral #botones{
	.column(12);
}
#proyectoSingle #lateral #Observaciones {
	margin: 3px;
	padding: 0 10px;
	overflow: hidden;
	background: #ccc;
	border-radius: 5px;
	padding-bottom: 20px;
}
#proyectoSingle #descripcionProyecto article{
	padding: 10px;
}
#proyectoSingle #lateral{
	.column(4);
	margin-top: 15px;
}
#videoMatadero {
background: black;
text-align: center;
}
#wrap header{
	width: 200px;
	display: block;
	float: left;
}
#wrap header #contenidoHeader {
	width:190px;
	position: fixed;
	height: 100%;
	background: rgb(40,40,40);
	border-right: 10px solid #fff;
	box-shadow: 4px 0 10px rgba(0,0,0,.5);
}
#wrap header #contenidoHeader article{
	margin: 0 5px;
	color: white;
}
#wrap header #contenidoHeader img{
		max-width: 100%;
	}
#wrap #contenidoGeneral{
	overflow: hidden;
}
#contenidoGeneral #tiposProyectos article{
	.column(6);
}
#contenidoGeneral #tiposProyectos{
	.column(8);
	.push(2);
	padding-bottom: 50px;
}
#contenidoGeneral #tiposProyectos .tituloSeccion{
	text-align: center;
}
/* Large desktop */
@media (min-width: 1200px) { 
	#listadoMataderos .secundarios {
		.row(12);
		article{
			.column(4,12);
		}
	}
	#mataderoSingle #socialBar #botones{
		.column(7);
	}
	#mataderoSingle #socialBar h3{
		.column(5);
		display: block;
	}
	#myCarousel{
		.column(8);
		.push(2);
	}
	#wrap header{
	width: 200px;
	display: block;
	float: left;
	}
	#wrap header #contenidoHeader article{
		margin: 0 5px;
		color: white;
	}
	#wrap #contenidoGeneral{
		overflow: hidden;
	}
	#wrap header #contenidoHeader {
		width:190px;
		position: fixed;
		height: 100%;
		background: rgb(40,40,40);
		border-right: 10px solid #fff;
		box-shadow: 4px 0 10px rgba(0,0,0,.5);
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	#adminTexto{
		.column(12);
	}
	.administrador{
		.column(4);
	}
	.administrador img{
		width: 100%;
	}
	.equipoBar h2{
		.column(12);
		text-align: center;
	}
	.equipoBar .menu{
		.column(12);
		text-align: center;
	}
	#contenidoGeneral #tiposProyectos{
		.column(8);
		.push(2);
		padding-bottom: 50px;
	}
	#mataderoSingle #socialBar #botones{
		width: 100%;
		margin: 0;
	}
	#mataderoSingle #socialBar h3{
		.column(12);
		display: block;
	}
	#myCarousel{
		.column(10);
		.push(1);
	}
	#listadoMataderos .secundarios {
		.row(12);
		article{
			.column(6,12);
		}
	}
	#proyectosDesarrollo article{
		.column(8);
		.push(2);
	}
	#wrap header{
		width: 100px;
		display: block;
		float: left;
	}
	#wrap header #contenidoHeader article{
		margin: 0 5px;
		color: white;
	}
	#wrap #contenidoGeneral{
		overflow: hidden;
	}
	#wrap header #contenidoHeader {
		width:90px;
		position: fixed;
		height: 100%;
		background: rgb(40,40,40);
		border-right: 10px solid #fff;
		box-shadow: 4px 0 10px rgba(0,0,0,.5);
	}
	
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	#adminTexto{
		.column(12);
	}
	.administrador{
		.column(4);
	}
	.administrador img{
		width: 100%;
	}
	.equipoBar h2{
		.column(12);
		text-align: center;
	}
	.equipoBar .menu{
		.column(12);
		text-align: center;
	}
	#contenidoGeneral #tiposProyectos{
		.column(10);
		.push(1);
		padding-bottom: 50px;
	}
	#mataderoSingle #socialBar #botones{
		width: 100%;
		margin: 0;
	}
	#mataderoSingle #socialBar h3{
		.column(12);
		display: block;
	}
	#myCarousel{
		.column(10);
		.push(1);
	}
	#listadoMataderos .secundarios {
		.row(12);
		article{
			.column(6,12);
		}
	}
	#proyectosDesarrollo article{
		.column(10);
		.push(1);
	}
	#proyectoSingle #lateral{
		.column(12);
		border-top: 1px solid;
		padding-top: 20px;
	}
	#proyectoSingle #descripcionProyecto{
		.column(12);
	}
	#proyectoSingle #pieArticulo #equipoTrabajo{
		.column(12);
		ul{
			.row(6);
			padding: 10px;
			li{
				.column(1.85,6);
			}
		}
	}
	#proyectoSingle #pieArticulo #contacto{
		.column(12);
		ul{
			.row(3);
			padding: 0;
			padding-left: 7px;
			li{
				.column(1,3);
			}
		}
	}
	#wrap header{
		width: 100px;
		display: block;
		float: left;
	}
	#wrap header #contenidoHeader article{
		margin: 0 5px;
		color: white;
	}
	#wrap #contenidoGeneral{
		overflow: hidden;
	}
	#wrap header #contenidoHeader {
		width:90px;
		position: fixed;
		height: 100%;
		background: rgb(40,40,40);
		border-right: 10px solid #fff;
		box-shadow: 4px 0 10px rgba(0,0,0,.5);
	}
	
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
	#adminTexto{
		.column(12);
	}
	.administrador{
		.column(12);
	}
	.administrador img{
		width: 100%;
	}
	.equipoBar h2{
		.column(12);
		text-align: center;
	}
	.equipoBar .menu{
		.column(12);
		text-align: center;
	}
	#contenidoGeneral #tiposProyectos{
		.column(12);
		padding-bottom: 50px;
	}
	#myCarousel{
		.column(12);
	}
	#listadoMataderos .secundarios {
		.row(12);
		article{
			.column(6,12);
		}
	}
	#proyectoSingle #descripcionProyecto{
		.column(12);
	}
	#proyectoSingle #lateral{
		.column(12);
	}
	#sliderProyecto{
		padding: 0 10px;
	}
	#wrap header{
	width: 100%;
	display: block;
	clear: both;
	}
	#wrap header #contenidoHeader article{
		margin: 0 5px;
		color: white;
	}
	#wrap header #contenidoHeader img{
		width: 100%;
	}
	#wrap #contenidoGeneral{
		overflow: hidden;
		width: 100%;
	}
	#wrap header #contenidoHeader {
		width:100%;
		margin-top: -20px;
		position: static;
		background: rgb(40,40,40);
		border-right: 10px solid #fff;
		box-shadow: 4px 0 10px rgba(0,0,0,.5);
	}
	
}